@model IT_Project.Models.TheatrePlay
@{
    ViewBag.Title = " Додади нова претстава";
    ViewBag.StageList = new List<string>() { "Мала", "Голема" };
}

<p class="body-content-header"><i class="fa fa-angle-right"></i>@ViewBag.Title</p>

@using (Html.BeginForm("Add", "TheatrePlays", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-input-section">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-field">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title)
            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "validation-message" })
        </div>
        <div class="form-field">
            @Html.LabelFor(m => m.Author)
            @Html.TextBoxFor(m => m.Author)
            @Html.ValidationMessageFor(m => m.Author, "", new { @class = "validation-message" })
        </div>
        <div class="form-field">
            @Html.LabelFor(m => m.Director)
            @Html.TextBoxFor(m => m.Director)
            @Html.ValidationMessageFor(m => m.Director, "", new { @class = "validation-message" })
        </div>
        <div class="form-field">
            @Html.LabelFor(m => m.Duration)
            @Html.TextBoxFor(m => m.Duration, new { @type = "number", step = "1" })
            @Html.ValidationMessageFor(m => m.Duration, "", new { @class = "validation-message" })
        </div>
        <div class="form-field">
            @Html.LabelFor(m => m.Cast)
            @Html.TextAreaFor(m => m.Cast, new
            {
                autocomplete = "off",
                rows = "6",
                cols = "50",
                placeholder = "Внесете ги улогите една по една одвоени со запирка (,). Пр.: Игор Џамбазов - Чорбаџи Теодос, Весна Петрушевска Бејби - Кева, ..."
           })
            @Html.ValidationMessageFor(m => m.Cast, "", new { @class = "validation-message" })
        </div>
        <div class="form-field">
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description, new { autocomplete = "off", rows = "6", cols = "50" })
            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "validation-message" })
        </div>
        <div class="form-field">
            @Html.LabelFor(m => m.Intermission)
            @Html.CheckBoxFor(m => m.Intermission)
        </div>
        <div class="form-field">
            @Html.LabelFor(m => m.Genre)
            @Html.TextBoxFor(m => m.Genre)
            @Html.ValidationMessageFor(m => m.Genre, "", new { @class = "validation-message" })
        </div>
        <div class="form-field">
            @Html.LabelFor(m => m.Stage)
            @Html.DropDownListFor(m => m.Stage, new SelectList(ViewBag.StageList))
        </div>
        <div class="form-field">
            <label for="File">
                Плакат
                @Html.TextBoxFor(m => m.File, new { @type = "file" })
                @Html.ValidationMessageFor(m => m.File, "", new { @class = "validation-message" })
            </label>
        </div>
    </div>
    <button type="submit" class="add-submit-btn">Додади</button>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('input[type="number"]').val("");
            $('input[type="file"]').change(function () {
                $('#File-error').html('');
            });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}