@model IT_Project.Models.Movie

@{
    var base64 = Convert.ToBase64String(Model.Poster);
    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
}

<div class="details">
    <div>
        <div class="details-top">
            <img src="@imgsrc" />
            <div class="details-info">
                <div><span class="field-name details-title">@Model.Title</span>, <span class="details-genre">@Model.Genre</span></div>
                <div>
                    <div><span class="field-name">Режисер: </span>@Model.Director</div>
                </div>
                <div>
                    <div><span class="field-name">Година: </span>@Model.Year</div>
                </div>
                <div>
                    <div>
                        <span class="field-name">Играат: </span>
                        <br />
                        @Model.Cast
                    </div>
                </div>
                <div>
                    <div><span class="field-name">Времетраење: </span>@Model.Duration минути</div>
                </div>
                <div class="details-buttons">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                    {
                        <a href="/Movies/Edit/@Model.MovieId" class="edit-btn">Промени <i class="fa fa-pencil"></i></a>
                        <a href="#" data-movie-id="@Model.MovieId" class="remove-btn">Избриши <i class="fa fa-trash"></i></a>
                    }
                    <a href="javascript:void(0);" onclick="history.go(-1);" class="back-btn">Назад <i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
        </div>
        <div class="details-bottom">
            @Model.Description
        </div>
    </div>
    <button class="tickets-btn" data-movie-id="@Model.MovieId">Прикажи термини</button>
    <div id="insert-infos">

    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.tickets-btn').on('click', function () {
                var button = $(this);
                $.ajax({
                    url: "/Movies/Infos/",
                    method: "GET",
                    data: ({ id: button.attr("data-movie-id") }),
                    success: function (data) {
                        $('#insert-infos').html(data);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });

            $('.remove-btn').on('click', function () {
                        var button = $(this);
                        bootbox.confirm({
                            message: "Дали сте сигурни?",
                            buttons: {
                                confirm: {
                                    label: 'Да',
                                    className: 'btn-success'
                                },
                                cancel: {
                                    label: 'Не',
                                    className: 'btn-danger'
                                }
                            },
                            callback: function (result) {
                                if (result) {
                                $.ajax({
                                    url: "/Movies/Delete/" + button.attr("data-movie-id"),
                                    method: "GET",
                                    success: function (data) {
                                        window.location.href = "@Url.Action("Index","Movies")";
                                    },
                                    error: function (err) {
                                        console.log(err);
                                    }
                                });
                                }
                            }
                        });
            });
        });


    </script>

}

